<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Portfolio</title>
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'blog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="{% static 'script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
</head>
<body>

    <!-- navbar -->
    <div class="navbar">
        <a href="/" class="home">HOME</a>
        <a href="/blog/" class="blog">BLOG</a>
        <a href="/projects/" class="apps">PROJECTS</a>
        <a href="/contact/" class="contact">CONTACT</a>
        <div class="social-media">
            <a href="https://facebook.com/yourprofile" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/yourprofile" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://instagram.com/yourprofile" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    
    <!-- Heading -->
     <h1>Welcome to the Blog</h1>

    <div class="row">
        <div class="left-column">
            <div class="blog-container">
                {% for post in posts %}
                <article>
                    <h1>{{ post.title }}</h1>
                    <p><strong>{{ post.created_at }}</strong></p>
                    <img src="{{ post.image }}">
                    <p>{{ post.summary }}</p>
                </article>
                {% endfor %}
             </div>
        </div>

        <div class="right-column">
            <div class="populat-posts">
                <h3>Popular Posts</h3>
                <div class="post-1">Temp</div>
                <div class="post-2">Temp</div>
                <div class="post-3">Temp</div>
            </div>
        </div>
    </div>

     
</body>

</html>